/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Butcherman&family=Poppins:wght@400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(22, 72%, 50%);
  --first-color-alt: hsl(22, 72%, 46%);
  --white-color: #fff;
  --text-color: hsl(22, 4%, 75%);
  --text-color-light: hsl(22, 4%, 55%);
  --body-color: hsl(22, 8%, 6%);
  --container-color: hsl(22, 8%, 7%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --second-font: 'Butcherman', cursive;

  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1.5rem;
}

.section-title {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  font-weight: initial;
  line-height: 130%;
  color: var(--first-color);
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/* Shapes */
.shape-bg{
  position: fixed;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  mix-blend-mode: soft-light;
  opacity: 0.5;
}
.shape-small, .shape-big{
  position: absolute;
  background-color: var(--first-color);
  border-radius: 50%;
  filter: blur(95px);
  z-index: -1;
}

.shape-small{
  width: 150px;
  height: 150px;
}
.shape-big{
  width: 250px;
  height: 250px;
  opacity: 0.8;
  bottom: 5rem;

}


/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  color: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: background 0.3s, box-shadow 0.3s;
}
.navbar{
  position: relative;
  height: var(--header-height);
  display: flex;
  margin-inline: 1rem;
  justify-content: space-between;
  align-items: center;
  
}
.nav-logo, .nav-toggle, .close-btn{
  display: inline-flex;
  color: var(--white-color);
  cursor: pointer;
  font-size: 1.25rem;
  transition: color 0.3s;
}
.nav-logo{
  align-items: center;
  column-gap: 0.5rem;
}
.nav-logo img{
  width: 15%;
}
.nav-logo:hover, .nav-toggle:hover, .close-btn:hover{
  color: var(--first-color);
}
/* .nav-toggle{
  font-size: 1.25rem;
} */
.close-btn{
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

@media screen and (max-width: 767px) {
  .nav-menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0.5rem;
    background-color: var(--body-color);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
    border-radius: 0rem 0rem 2rem 2rem;
    transition: top 0.4s;
  }  
}

.nav-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}
.nav-link{
  font-size: 1.25rem;
  color: var(--white-color);
  font-family: var(--second-font);
  transition: color 0.3s;
}
.nav-link:hover{
  color: var(--first-color);
}
.nav-menu img{
  position: absolute;
  width: 150px;
  top: 40%;
  left: -2.5rem;
}
/* Show menu */
.show-menu{
  top: 0;
}

/* Change background header */
.bg-header{
  background-color: var(--body-color);
  box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

/* Active link */
.active-link{
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home{
  position: relative;
}
.home-container{
  padding-top: 2.5rem;
}
.home-data{
  text-align: center;
}
.home-title{
  position: relative;
  font-size: var(--biggest-font-size);
  line-height: 140%;
  margin: 0 auto .5rem;
  width: max-content;
}
.home-title span{
  display: block;
  font-family: var(--second-font);
  color: var(--first-color);
}
.home-img-1,
.home-img-2{
  position: absolute;
  width: 40px;
}
.home-img-1{
  bottom: 3rem;
  left:-1rem;
  transform: rotate(20deg);
  animation: animation-star-1 5s infinite ease-in-out;
}
.home-img-2{
  top: 0rem;
  right: -1rem;
  transform: rotate(-25deg);
  animation: animation-star-2 5s infinite ease-in-out;
}
.home-description{
  margin-bottom: 2.5rem;
}
.home-img{
  width: 300px;
  justify-self: center;
  margin-top: 1rem;
}
.home-tree1,
.home-tree2{
  position: absolute;
  width: 150px;
  top: 16rem;
}
.home-tree1{
  left: -2rem;
}
.home-tree2{
  right: -2rem;
}

/* Star animation */
@keyframes animation-star-1 {
  0%{
    transform: scale(1) rotate(20deg);
  }
  50%{
    transform: scale(0.7) rotate(20deg);
    opacity: 0.2;
  }
  100%{
    transform: scale(1) rotate(20deg);
  }
}

@keyframes animation-star-2 {
  0%{
    transform: scale(1) rotate(-25deg);
  }
  50%{
    transform: scale(0.7) rotate(-25deg);
    opacity: 0.2;
  }
  100%{
    transform: scale(1) rotate(-25deg);
  }
}

.home .shape-big{
  bottom: 9.7rem;
  right: -8rem;
}

.home .shape-small{
  top: -5rem; 
  left: -1rem;
}

/*=============== BUTTON ===============*/
.button{
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: var(--white-color);
  color: var(--first-color);
  border-radius: 4rem;
  font-weight: var(--font-semi-bold);
  transition: background 0.3s, color 0.3s;
}
.button:hover{
  background-color: var(--first-color);
  color: var(--white-color);
}

/*=============== CATEGORY ===============*/
.category .shape-small{
  top: 25rem;
  left: -4rem;
}
.category{
  position: relative;
}
.category-container{
  margin-top: 5rem;
  grid-template-columns: 228px;
  justify-content: center;
  row-gap: 5rem;
}
.category-card{
  position: relative;
  background-color: var(--container-color);
  padding: 4rem 2rem;
  text-align: center;
  border-radius: 2rem;
}
.category-img{
  width: 120px;
  position: absolute;
  inset: 0;
  margin: 0 auto;
  top: -3rem;
  transition: transform 0.3s;
}
.category-title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
  margin-bottom: 1rem;
}
.category-description{
  font-size: var(--small-font-size);
}
.category-star{
  width: 40px;
  position: absolute;
  top: 3rem;
  right: 1rem;
  transform: rotate(15deg);
}
.category-card:hover .category-img{
  transform: translateY(-15px);
}

/*=============== ABOUT ===============*/
.about{
  position: relative;
}
.about-container{
  row-gap: 4rem;
}
.about-data{
  text-align: center;
}
.about-container .section-title{
  margin-bottom: 2rem;
}
.about-description{
  margin-bottom: 2rem;
}
.about-img{
  width: 300px;
  justify-self: center; 
}
.about .shape-big{
  bottom: -2rem;
  left: -10rem;
}
.about .shape-small{
  top: 2rem;
  right: -5rem;
}

/*=============== ITEMS ===============*/
.items{
  position: relative;
}
.items-container{
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  padding-top: 2rem;
  gap: 4rem 1.5rem;
}
.items-card{
  position: relative;
  background-color: var(--body-color);
  padding: 4rem 1.25rem 1.5rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 4px 16px rgba(0,0,0,0.4);
}
.items-img{
  position: absolute;
  inset: 0;
  width: 100px;
  top: -2rem;
  margin: 0 auto;
  transition: transform 0.3s;
}
.items-name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}
.items-price{
  display: block;
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
  margin-bottom: 0.25rem;
}
.items-button{
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 0.25rem 1rem;
  border: none;
  outline: none;
  border-radius: 4rem;
  cursor: pointer;
  transition: background 0.3s;
}
.items-button i{
  font-size: 1.25rem;
}
.items-button:hover{
  background-color: var(--first-color-alt);
}
.items-card:hover .items-img{
  transform: translateY(-0.5rem);
}

.items .shape-big{
  bottom: -6rem;
  right: -6rem;
}

/*=============== PARTY ===============*/
.party{
  position: relative;
}
.party-container{
  row-gap: 5rem;
}
.party-container .section-title{
  margin-bottom: 1rem;
}
.party-data{
  text-align: center;
}
.party-description{
  margin-bottom: 2rem;
}
.party-images{
  position: relative;
  justify-self: center;
}
.party-img{
  width: 250px;
}
.party-star1,
.party-star2{
  width: 50px;
  position: absolute;
  transform: rotate(15deg);
}

.party-star1{
  top: -2.5rem;
  left: -5rem;
  animation: animation-star-1 5s infinite ease-in-out;
}
.party-star2{
  right: -5rem;
  bottom: -1rem;
  animation: animation-star-2 5s infinite ease-in-out;
}
/*=============== FOOTER ===============*/
.footer{
  position: relative;
  overflow: hidden;
}
.footer-container{
  row-gap: 4rem;
}
.footer-logo{
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: 1.25rem;
  transition: color 0.3s;
}
.footer-logo img{
  width: 25px;
}
.footer-logo:hover{
  color: var(--first-color-alt);
}
.footer-description{
  font-size: var(--small-font-size);
}
.footer-content,
.footer-links{
  display: grid;
}
.footer-content{
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 4.5rem;
}
.footer-title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}
.footer-links{
  margin-bottom: 0.75rem;
}
.footer-link{
  color: var(--text-color);
  font-size: var(--small-font-size);
  transition: color 0.3s;
}
.footer-link:hover{
  color: var(--first-color);
}
.footer-social{
  display: flex;
  column-gap: 1.25rem;
}
.footer-social-link{
  color: var(--first-color);
  font-size: 1.25rem;
  transition: all 0.3s;
}
.footer-social-link:hover{
  color: var(--first-color-alt);
  transform: translateY(-0.25rem);
}
.footer-tree1,
.footer-tree2{
  width: 150px;
  position: absolute;
}
.footer-tree1{
  top: 4rem;
  right: -1.75rem;
}
.footer-tree2{
  left: -1rem;
  bottom: -1.75rem;
}
.footer-copyrights{
  position: relative;
  display: block;
  margin-top: 5rem;
  color: var(--text-color-light);
  font-size: var(--smaller-font-size);
  text-align: center;
}
.footer .shape-big{
  bottom: -5rem;
  left: -8rem;
}
.footer .shape-small{
  right: -6rem;
  top: 13rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb{
  border-radius: 5rem;
  background-color: rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:hover{
  border-radius: 5rem;
  background-color: rgba(0,0,0,0.5);
}
/*=============== SCROLL UP ===============*/
.scroll-up{
  position: fixed;
  right: 1rem;
  bottom: -100%;
  color: var(--first-color);
  background-color: var(--container-color);
  padding: 0.4rem;
  border-radius: 50%;
  font-size: 1.25rem;
  display: inline-flex;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
  z-index: var(--z-tooltip);
  transition: all 0.3s;
}
.scroll-up:hover{
  transform: translateY(-0.25rem);
}

/* Show Scroll Up*/
.show-scroll{
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */


/* For 2K resolutions (2048 x 1152) */
